/* @import "../var.css"; */

header {
    width:90%;
    margin:20px auto;
}

.header_title_container .header__title{
    font-size: 2.2rem;
    font-weight: 700;
}

.header_title_container p{
    color: var(--Dark_Grayish_Blue_Text);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.header__toggle-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-top: 1px solid var(--Dark_Grayish_Blue_Text);
    padding: 10px 0 10px;
    color: var(--Dark_Grayish_Blue_Text);
    font-weight: 700;
    font-size: 1.2rem;
}

.header__toggle-container .switch{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    right: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    background-color: var(--Very_Dark_Blue_Text)
  }

  input:checked + .slider{
      background: linear-gradient(to right,#378fe6, #3eda82);
  }

  @media only screen and (min-width: 800px){
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header__toggle-container {
            width: 150px;
            border-top: none;
        }

  }