/* @import '../var.css'; */

.overview-section h1{
    font-size: 2.2rem;
    width:90%;
    margin: 0 auto 15px;
    color: var(--Dark_Grayish_Blue_Text);
}

.page-status{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.page-status-target{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    max-width: 290px;
    height:auto;
    margin: 0 auto 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--Very_Pale_Blue_Top_BG_Pattern);
}

.page-status-target:hover{
    background-color: var(--Light_Grayish_Blue_Card_BG);
}

.page-status__items{
    margin: 15px 0 25px;
}

.flexDisplay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.page-status__items span{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--Dark_Grayish_Blue_Text);
}

.page-status__value{
    margin-bottom: 15px;
}
.page-status__value > span{
    font-size: 2.5rem;
    font-weight:700;
}

.page-status__value div{
    display: flex;
    align-items: center;
    color: var(--Lime_Green);
}

.page-status__value div span{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 5px;
}
